# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# Jupyter
.ipynb_checkpoints

# VScode
.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/

# Other
debug.png
MyDebug.jl
datasets/
research/
*.docx
